* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: #000;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #F6FBFF;
    font-family: "Poppins", sans-serif;
}



.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: fixed;
        right: 0;
        height: 92vh;

        top: 8vh;
        background-color:#F6FBFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
.logo{
    width: 30%;

}





.student-profile{
    margin-top:10%
}
.student-profile .card {
    border-radius: 10px;
}

.student-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%;
}

.student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}

.student-profile .card p {
    font-size: 16px;
    color: #000;
}

.student-profile .table th,
.student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}
.btn{
    width: 20%;
}
input{
    border: none;
}
.card{
    border: 2px solid White;
    border-radius: 10px;
    background: #F6FBFF;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(220px);
}
.card2{
    border: 2px solid #ffffff;
    border-radius: 10px;
    background: #F6FBFF;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(220px);

}
body {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  radial-gradient(#F69074 1.6px, transparent 1.6px), radial-gradient(#F69074 1.6px, #e5e5f7 1.6px);
    background-size: 64px 64px;
    background-position: 0 0,32px 32px;
}
input{
    border: none;
}
.card1{
    border: 2px solid White;
    border-radius: 10px;
    background: #F6FBFF;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(220px);
    margin: 40px;
    padding:15px;
}
.table1, th {
    border: 1px solid #F69074;
    padding: 5px;
    text-align: left;
    font-size: 15px;
}
.table1, td {
    border: 1px solid #F69074;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
    font-size: 15px;
}
.table1{
    border-collapse: collapse;
    width: 100%;
}
textarea{
    border: none;
    width: fit-content;
}
