<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
</head>
<body>
  <form action="/user_administration/user_login/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
         {% if messages %}
        <ul class="messages">
            {% for message in messages %}
        <li>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
{% endif %}
      {{ form }}
      <input type="submit" value="Submit">
  </form>
</body>
</html>